html {
    background-color: #535ba0;
}

html,
body {
    height: 100%;
    margin: 0
}

h3 {
    text-align: center;
    font-size: 15px;
}

h1 {
    font-size: 16px;
}

p {
    font-size: 12px;
}

.main {
    min-height: 100%;
}

#gameScreen {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white !important;
    min-height: 100%;
    min-width: 1024px;
}

.panel {
    height: 100% !important;
    width: 100% !important;
}

.panel.green {
    margin-bottom: 400px
}

#animate2 {
    transition: background-color 1s;
}

.select-dropdown,
.dropdown-content span {
    text-align: center;
}

.budgetButton {
    text-align: center;
    margin: auto;
}

.budget {
    text-align: center;
}

#payMoney {
    background-color: #f99755;
}

.coin {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ffc571;
}

.vendors {
    text-align: center;
}

.vendor {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#stonesVendor {
    background-image: url("/static/images/TableLeft.png");
}

#metalsVendor {
    background-image: url("/static/images/TableRight2.png");
}

.shopkeepers,
.shopkeeper {
    text-align: center;
    display: inline;
}

.shopkeeper {
    margin-left: 10px;
    margin-right: 10px;
}

.signMessage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    min-width: 489px;
    position: relative;
}

.text {
    position: absolute;
    word-wrap: break-word;
    width: 70%;
    margin-top: 30px;
}

#shopGuy1 .text {}

#shopGuy2 .text {
    margin-left: 180px;
}

.signMessage * {}

#shopGuy1 {
    background-image: url('/static/images/ShopSign_wSKeeper2.png');
}

#shopGuy2 {
    background-image: url('/static/images/ShopSign_wSKeeper1.png');
}

.object {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px 10px 10px 10px;
}

hr {
    border: 0;
    color: #e9eeff;
    border-color: #e9eeff;
    background-color: #e9eeff;
    height: 5px;
}
