html {
    background-color: #535ba0;
}

html,
body {
    height: 100%;
    margin: 0
}

h3{
	text-align: center;
	font-size: 24px;
}
.main {}

#gameScreen {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white !important;
    height: 100%;
}

.panel {
    height: 100% !important;
    width: 100% !important;
}

.panel.green {
    margin-bottom: 400px
}

#animate2 {
    transition: background-color 1s;
}

.select-dropdown, .dropdown-content span{
	text-align: center;
}