 {% extends "layout.html" %} {% block style %}
<style type="text/css">
html {
    background-color: white !important;
}
</style>
{% endblock %} {% block body %}
<h1>Game Settings</h1>
<!--create 6 games-->
<ul class="collapsible" data-collapsible="accordion">
    {% for n in range(6) %}
    <li>
        <div class="collapsible-header">Game {{ n }}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="input-field col s3">
                    <input placeholder="Number of Stones" id="stones{{ n }}" type="text" class="validate game{{ n }}">
                    <label for="stones{{ n }}">Number of Stones</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="Number of Gems" id="gems{{ n }}" type="text" class="validate game{{ n }}">
                    <label for="gems{{ n }}">Number of Metals</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="Initial Budget for Stones" id="stonesBudget{{ n }}" type="text" class="validate game{{ n }}">
                    <label for="stonesBudget{{ n }}">Stones Budget</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="Initial Budget for Metals" id="metalsBudget{{ n }}" type="text" class="validate game{{ n }}">
                    <label for="metalsBudget{{ n }}">Metals Budget</label>
                </div>
            </div>
            <div class="row">
                <h5>Prices Lists</h5>
                <div class="input-field col s6">
                    <input placeholder="Metal Prices (comma separated string ie. 1,2,3,4,5)" id="metalPrices{{ n }}" type="text" class="validate game{{ n }}">
                    <label for="metalPrices{{ n }}">Metal Prices</label>
                </div>
                <div class="input-field col s6">
                    <input placeholder="Stone Prices (comma separated string ie. 1,2,3,4,5)" id="stonePrices{{ n }}" type="text" class="validate game{{ n }}">
                    <label for="stonePrices{{ n }}">Stone Prices</label>
                </div>
            </div>
            <div class="row budgetConditions{{ n }}">
                <h5>Budget Conditions</h5>
                <div class="input-field col s4">
                    <select id="startingpt{{ n }}">
                        <option value="1" disabled selected>Starting Point</option>
                        <option value="1">Add conditions</option>
                        <option value="2">Transfer conditions</option>
                        <option value="3">Cut conditions</option>
                    </select>
                    <label>Budget Conditions Starting Point</label>
                </div>
                <div class="input-field col s4">
                    <select id="units{{ n }}">
                        <option value="1" disabled selected>Units</option>
                        <option value="1">Total conditions</option>
                        <option value="2">Marginal condition</option>
                    </select>
                    <label>Budget Conditions Units</label>
                </div>
            </div>
            <div class="row">
                <div class="switch">
                    <label>
                        Don't use this game
                        <input id="switch{{ n }}" type="checkbox">
                        <span class="lever"></span> Edit
                    </label>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<a class="waves-effect waves-light btn" onclick="submitSettings();">Submit</a> {% endblock %} {% block scripts %}
<script type="text/javascript">
$('select').material_select();
$('.collapsible').collapsible();
</script>
{% endblock %}
