{% extends "layout.html" %} {% block body %}
<div id="gameScreen">
    <div class="row">Instructions</div>
    <div class="row">
        <div class="col s6 vendor">Vendor 1
            <div id="stonesVendor"></div>
        </div>
        <div class="col s6 vendor">Vendor 2
            <div id="metalsVendor"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s4">
            <div class="budget" id="stonesBudget">
            	<div class="coins" id= "stoneCoins"></div>
                <h3>Stones Budget: <span id = "stonesBudgetNum"></span></h3></div>
        </div>
        <div class="col s4">
            <div class="budget" id="unallocatedBudget">
                <h3>Not yet allocated: <span id = "unallocatedBudgetNum"></span></h3>
            </div>

            <div class="row budgetButton">
                <a class="btn" id="payMoney" onclick="payMoney()">Finalize my budget</a>
            </div>
        </div>
        <div class="col s4">
            <div class="budget" id="metalsBudget">
            	<div class="coins" id= "metalCoins"></div>
                <h3>Metals Budget: <span id = "metalsBudgetNum"></span></h3></div>
        </div>
    </div>
    <div class="row"></div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/js/game.js"></script>
<script type="text/javascript">
var num = {{ number }};

initGame(num);
</script>
{% endblock %}
