{% extends "layout.html" %} {% block body %}
<div id="gameScreen">
    <div class="row">Instructions</div>
    <div class="row">
        <div class="row shopkeepers">
            <div class="col s6">
                <div class="shopkeeper">
                    <div id="shopGuy1" class="signMessage">
                        <div class="text">
                            <h1>PRECIOUS STONES</h1>
                            <p>EACH STONE CHUNK NOW ONLY $1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="shopkeeper">
                    <div id="shopGuy2" class="signMessage">
                        <div class="text">
                            <h1>PRECIOUS METALS</h1>
                            <p>EACH METAL CHUNK NOW ONLY $1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 vendors">
            <div class="vendor" id="stonesVendor"></div>
        </div>
        <div class="col s6 vendors">
            <div class="vendor" id="metalsVendor"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s4" id="left">
            <div class="col s8">
                <div class="budget" id="stonesBudget">
                    <div class="coins" objectType="stone" id="stoneCoins"></div>
                    <h3>Stones Budget: <span id = "stonesBudgetNum"></span></h3>
                </div>
            </div>
            <div class="col s4 transfer">
                <input type="image" class="transferButton" id="toStone">To Pot</input>
                <input type="image" class="transferButton" id="fromStone">To Stone</input>
            </div>
        </div>
        <div class="col s4">
            <div class="budget" id="unallocatedBudget">
                <div class="coins" objectType="unallocated" id="unallocatedCoins"></div>
                <h3>Not yet allocated: <span id = "unallocatedBudgetNum"></span></h3>
            </div>
            <div class="row budgetButton">
                <a class="btn" id="payMoney">Finalize my budget</a>
            </div>
        </div>
        <div class="col s4" id="right">
            <div class="col s4 transfer">
                <input type="image" class="transferButton" id="toMetal">To Pot</input>
                <input type="image" class="transferButton" id="fromMetal">To Metal</input>
            </div>
            <div class="col s8">
                <div class="budget" id="metalsBudget">
                    <div class="coins" objectType="metal" id="metalCoins"></div>
                    <h3>Metals Budget: <span id = "metalsBudgetNum"></span></h3></div>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>
{% endblock %} {% block scripts %}
<script src="/static/js/game.js"></script>
<script src="/static/js/data.js"></script>
<script type="text/javascript">
var num = {{ number }};


initGame(num);
</script>
{% endblock %}
